@model IEnumerable<Peluches.BackOffice.Presentacion.Models.Comprobante>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoComprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtotalComp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedidoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoComprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtotalComp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdComprobante">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdComprobante">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdComprobante">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
