@model Peluches.BackOffice.Presentacion.Models.Cargo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCargo">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
