@model IEnumerable<Peluches.BackOffice.Presentacion.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMaxEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMaxEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Activo.HasValue, new { @disabled = "true" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.NroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.IdEmpleado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPedido">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
