@model Peluches.BackOffice.Presentacion.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutBackOffice";
}

<section class="content-header">
    <h1>
        Detalles
        <small>Producto</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home" aria-hidden="true"></i>Home</li>
        <li class="active">
            <a asp-controller="Productos" asp-action="Index">
                <i class="fa fa-list-alt" aria-hidden="true"></i>Listado de Productos
            </a>
        </li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Producto</h3>
                </div>
                <div class="box-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NombreProducto)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NombreProducto)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecioVenta)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecioVenta)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Stock)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Stock)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Activo)
                            {
                                <span class="label label-success">Activo</span>
                            }
                            else
                            {
                                <span class="label label-danger">Inactivo</span>
                            }
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Marca)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Marca.Marca1)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Modelo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Modelo.Modelo1)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Proveedor)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Proveedor.NombresProv)
                        </dd>
                    </dl>
                </div>
                <div class="box-footer">
                    <a asp-controller="Productos" asp-action="Edit" asp-route-id="@Model.IdProducto" class="btn btn-info">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i> Editar
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

